

H1 {
    font-family: "Times New Roman", Times, serif;
  }

#T {font-size: large;}
.Completed {color:green}
.InProgress {color:blue}
.future {color:red}

.C {
  margin-top: 50px;
  margin-left:60px;
  margin-right:60px;
  text-align:center
}

#RandomCat {
  background-color:"green"
  }

html {
  background: url("pexels-scott -webb-305821.jpg") no-repeat center ;
  font-size:large;
  background-size:cover;
  background-blend-mode:color-dodge;
}

body {
  padding-left: 1cm;
  padding-right: 2cm;
  font-family: "Times New Roman", Times, serif;
  font-size:15pt;
  font-weight:500
}